@charset "UTF-8";
/* 
   USGBC Cascading Style Sheet
    green    - #aebc1d
    blue     - #6a92cd
    orange   - #ec6120
    gray     - #9b9589
*/
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, iframe {
	background: transparent;
	border: none;
	margin: 0;
	outline: none;
	padding: 0;
}
body {
	background: #aebc1d url(../../images/body-bg-2.png) repeat center top;
	color: #5e5e60;
	font: normal 12px/15px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
}
p {
	margin-bottom: 12px;
}

h1 {
	font: 18px/22px MuseoSans700,Arial,Helvetica,Geneva,sans-serif;
	text-transform: uppercase;
}
h2 {
	font: 18px/22px MuseoSans500,Arial,Helvetica,Geneva,sans-serif;
	margin-bottom: 4px;
	text-transform: uppercase;
}
h3, h4, h5 {
	font: 14px/16px MuseoSans500,Arial,Helvetica,Geneva,sans-serif;
	margin-bottom: 12px;
}
h4 {
	font: 12px/15px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	text-transform: uppercase;
	margin-bottom: 4px;
}
h5 {
	font: 12px/14px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	margin-bottom: 0;
}

ul {
	padding-left: 25px;
}

a:link, a:visited {
	color: #aebc1d;
}
a:hover, a:active {
	color: #aebc1d;
}
.clr {
	clear: both;
}
.wrapper {
	height: auto;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	width: 940px;
}
#test {position: relative;}
#logonav {
	float: left;
	margin-right: 7px;
	width: 148px;
}
#logonav #nav {
	font: 14px/18px  MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	list-style: none;
	padding-left: 0;
}
#logonav #nav a {
	color: #5e5e60;
	display: block;
	text-decoration: none;
	width: 100%;
}
#logonav #nav li a {
	padding: 5px 0;
}
#logonav #nav li li a {
	padding: 0;
}
#logonav #nav li ul li {
	padding: 0 0 0 5px;
}
#logonav #nav li ul li a:hover {
	color: #000;
}
#logonav #nav > li {
	border-bottom: 2px solid #cacaca;
}
#logonav #nav li ul {
	display: none;
}
#logonav #nav li.drop {
	background: #fff url("../../images/drop-arrow.png") no-repeat  right 9px;
}
#logonav #nav li.active {
	background: #fff url("../../images/arrow-down.png") no-repeat  right 10px;
}
#logonav #nav li.active-sub {
	background-color: #dfdfdf; 
}
#logonav #nav ul {
	font: 10px/14px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	list-style: none;
	padding-bottom: 7px;
	padding-left: 7px;
}
#logonav #nav li ul.active-page {
	display: block;
}
#events, #learn {
	float: right;
	width: 178px;
}
#learn h3 {
	margin-top: 25px;
	width: 120px;
}
#header, #foot {
	background: transparent;
}
#buckets {
	height: auto;
	margin-top: 5px;
	overflow: auto;
	padding-bottom: 20px;
}
#buckets > div {
    float: left;
	font: 11px/13px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
    height: 150px;
    margin-left: 5px;
    width: 195px;
}
#buckets > div h2 {
	padding-bottom: 7px;
}
#buckets > div p {
	padding: 0 14px;
}
#buckets > div:first-child {
    margin-left: 0;
}
#buckets .join {
	border-bottom: 10px solid #6a92cd;
}
#buckets .sponsor {
	border-bottom: 10px solid #ec6120;
}
#buckets .learn {
	border-bottom: 10px solid #9b9589;
}
.sponsors {
	width: 595px!important;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	padding: 3px 0;
	margin: 0 0 20px 0;
	height: 85px;
}
.sponsors ul li img {
	border-left: 1px solid #ccc;
	margin: 10px 0 0 0;
}
.sponsors .next {
	position: absolute;
	right: 0;
	z-index: 2;
}
.sponsors .prev {
	position: absolute;
	z-index: 2;
}
#search {
	height: auto;
	position: absolute;
	right: 10px;
	top: 15px;
	width: auto;
	z-index: 1002;
}
#search p {
	display: inline;
	margin-bottom: 0;
	margin-right: 3px;
	position: relative;
	width: auto;
	bottom: 6px;
}
#search p label {
    color: #CCCCCC;
    font: 12px/12px Arial,Helvetica,sans-serif;
    left: 25px;
    position: absolute;
    text-transform: uppercase;
    top: 2px;
}
#search input#searchKeyword {
    background: url("../../images/search-icn.png") no-repeat scroll 5px center #FFFFFF;
    border: medium none;
    font: 12px/12px Arial,Helvetica,sans-serif;
    padding-left: 25px;
    width: 180px;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
#search input#searchSubmit {
    background: #9B9589;
    border:  none;
    color: #fff;
    cursor: pointer;
    outline: 0 none;
    overflow: visible;
    padding: 4px 10px;
    text-shadow: none;
    text-transform: uppercase;
    width: auto;
}
#carousel #navigator > a {
	height: 10px !important;
	margin: 0 5px 5px 0 !important;
	width: 10px !important;
}
.hentry {
    margin: 0 0 30px;
}
#sponsors {
	padding-bottom: 20px;
}
#sponsors h3 {
	margin-left: 14px;
	text-transform: uppercase;
}
#sponsors ul#logos {
	border-top: 2px solid #cacaca;
	border-bottom: 2px solid #cacaca;
	height: 90px;
}
/* @group HEADER */
#header {
	height: 48px;
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 1002;
}
#logo {
	height: 72px;
	position: relative;
	width: 350px;
}
/* @group Utility Nav */

#utilitynav {
	font: 10px/10px  MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	height: auto;
	position: absolute;
	right: 0;
	top: 17px;
	width: auto;
	z-index: 1002;
}

#utilitynav ul {
	list-style: none;
	padding-left: 0;
}

#utilitynav li {
	display: inline;
	float: left;
	height: auto;
}
#utilitynav ul li a {
	display: block;
	font-size: 10px;
	height: auto;
	padding-left: 15px;
	text-decoration: none;
	text-transform: uppercase;

}
#utilitynav a:link, #utilitynav a:visited {
	color: #a8bbc6;
	text-decoration: none;
}

#utilitynav a:hover, #utilitynav a:active, #utilitynav a.selected:link, #utilitynav a.selected:visited {
	color: #fff;
}
/* @end */
/* @end */
/* @group CONTENT */
#content {
	background-color: #fff;
	clear: both;
	overflow: visible;
	padding-top: 5px;
	position: relative;
	width: 100%;
}
#content .wrapper {
	min-height: 500px; height: auto !important; height: 500px;
	overflow: auto;
	padding: 0 10px;
	width: 940px;
}
#content.subpage .wrapper {
	background: #fff url(../../images/content-bg.png) no-repeat left bottom;
}
#content .wrapper h1 img {
	margin: 10px 9px;
}
#content #news h2 {
	font: 16px/20px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	
}
#content #news h2 a:link, #content #news h2 a:visited {
	color: #666;
	text-decoration: none;
	text-transform: none;
}
/* @group Home */
#content .wrapper #carousel {
	background: black;
	height: 313px !important;
	margin: 0;
	width: 595px !important;
}
#content .wrapper #carousel-txt {
	left: 575px;
	position: absolute;
	top: 165px;
	width: 350px;
	z-index: 1500;
}
#content .wrapper #carousel-txt h1 {
	visibility: hidden;
}
#content .wrapper #carousel-txt p {
	color: #fdfbfb;
	font-size: 14px;
	line-height: 22px;
}
#homebanners {
	background: transparent url(../../images/foot-bg.png) no-repeat center top;
	clear: both;
	height: auto;
	width: 100%;
}
#homebanners .wrapper {
	background: transparent url(../../images/homebanners-bg.jpg) no-repeat center 1px;
	color: #a8bbc6;
	font: normal 11px/17px Georgia, "Times New Roman", Times, serif;
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 1px;
}
#homebanners .wrapper #col1 {
	border-right: 1px solid #e5e5e5;
	float: left;
	padding: 13px 12px 13px 0;
	width: 472px;
}
#homebanners .wrapper #col2 {
	border-left: 1px solid #4c4c4c;
	float: right;
	padding: 13px 0 13px 12px;
	width: 462px;
}
#homebanners .wrapper #subcol:first-child {
	border-right: 1px solid #000;
	border-left: none;
	float: left;
	padding: 0 9px 0 0;
	width: 220px;
}
#homebanners .wrapper #subcol {
	border-left: 1px solid #4c4c4c;
	float: right;
	min-height: 161px; height: auto !important; height: 161px;
	margin-bottom: 11px;
	padding: 0 0 0 10px;
	width: 221px;
}
#homebanners .wrapper #subcol img {
	padding-bottom: 8px;
}
#homebanners .wrapper #subcol p:first-child {
	margin-bottom: 2px;
	padding-top: 10px;
}
#homebanners .wrapper #subcol p {
	margin-bottom: 0;
	padding-left: 10px;
	width: 90%;
}
#homebanners .wrapper #subcol a {
	color: #f6ec5a;
	font: 10px/17px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
/* @end */

/* @group Main */
#main {
	float: left;
	width: 595px;
}
#content .wrapper #main h1 img {
	margin: 0 0 20px 0;
}

/* @group Content Pages */

#main .content-hdr {
	font-size: 48px;
	line-height: 42px;
	width: 400px;
	color: #789dd2;
	padding: 25px 0 0 25px;
}
#main .content-hdr span {
	font-family: MuseoSans100,Arial,Helvetica,Geneva,sans-serif;
}
#main .content-banner {
	margin-top: 25px;
	}
#main .content-copy {
	padding: 10px 0 50px 5px;
}
#main .content-copy p {
	line-height: 16px;
}
#main .content-copy img {
	float: right;
	padding: 0 0 10px 10px;
}
#main .content-copy h3 {
	border-bottom: 2px solid #b0b0b0;	
	margin: 20px 0 5px 0;
}
/*---Breadcumbs---*/

#breadcrumbs {
	color: #2d3c3f;
	font: 10px/13px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 0 0 10px 0;
	position: relative;
	text-transform: uppercase;
	top: -10px;
}
#breadcrumbs li {
	float:left;
	margin: 0;
	padding: 0;
}
#breadcrumbs li a {
	margin-right: 5px;
	padding-right: 12px;
	background: transparent url(../../images/breadcrumb-divider2.png) no-repeat right center;
}
#breadcrumbs li a:link, #breadcrumbs li a:visited {
	color: #a8bbc6;
}
#breadcrumbs li a:hover, #breadcrumbs li a:focus {
	color: #2d3c3f;
}

/*---Contact Form---*/

dl.contactform {
	margin-top: 20px;
	overflow: auto;
	text-align: left;
}
dl.contactform dt {
	clear: both;
	font: 12px/15px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	padding-top: 5px;
	text-transform: uppercase;
	width: 165px;
	float: left;
	text-align: right;
}
dl.contactform dd {
	float: left;
	margin: 0 0 10px 10px;
	width: 275px;
}
dl.contactform dd input, dl.contactform dd select {
	width: 80%;
}
dl.contactform dd textarea {
	width: 100%;
}
dl.contactform dd input#submitbtn, dl.contactform dd input#clearbtn {
	float: right;
	margin-left: 10px;
	width: 100px;
}
/* @end */
/* @group Sidebar */
#sidebar {
	background: transparent url(../../images/sidebar-head-bg.png) repeat-x left top;
	float: right;
	margin: /*10px*/ 0 9px /*10px*/ 7px 0;
	min-height: 630px; height: auto !important; height: 630px;
	width: 330px;
}
#sidebar .list {
	background: transparent url(../../images/sidebar-headline-bg2.png) no-repeat left 10px;
	padding-top: 10px;
	padding-left: 20px;
	position: relative;
}
#sidebar h2 {

	color: #627d79;

	font: 28px/28px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	margin-top: 15px;

	margin-bottom: 12px;
	margin-left: 23px;
	text-transform: uppercase;
}
#sidebar img {
	margin-top: 10px;
	margin-left: 20px;
}

/*---Thumbnail List---*/

#sidebar .list ul {
	list-style: none;
	margin-left: 2px;
	min-height: 590px; height: auto !important; height: 590px;
	padding-left: 0;
	position: relative;
	top: -2px;
}
#sidebar .list ul li {
	background: transparent url(../../images/sidebar-list-bg.png) repeat-x left bottom;
	cursor: pointer;
	padding: 10px 22px;
}
#sidebar .list ul li:hover, #sidebar .list ol li:hover {
	background-color: #fff;
}
#sidebar .list ul li:last-child {
	background-image: none;
}
#sidebar .list ul li img {
	float: left;
	margin-top: 0;
	margin-right: 10px;
	margin-left: 0;
}
#sidebar .list ul li strong {
	color: #2d3c3f;
	font: 11px/14px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
}
#sidebar .list ul li span {
	display: block;
	clear: right;
	line-height: 15px;
	padding-bottom: 4px;
}

/*---Text List---*/

#sidebar .list ol {
	list-style: none;
	margin-left: 2px;
	height: auto !important;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 0;
	position: relative;
	top: -2px;
}
#sidebar .list ol li {
	cursor: pointer;
	font: 11px/14px MuseoSans300,Arial,Helvetica,Geneva,sans-serif;
	padding: 5px 22px;
	text-transform: uppercase;
}
#sidebar .list ol li a {
	color: #2d3c3f;
	text-decoration: none;
}
/* @end */

/* @end */
/* @group FOOTER */
#foot {
	clear: both;
	height: 22px;
	width: 100%;
}
#foot .wrapper {
	color: #5e5e5e;
	font: 11px/17px MuseoSans500,Arial,Helvetica,Geneva,sans-serif;
	line-height: 11px;
	overflow-x: hidden;
	overflow-y: auto;
	text-transform: uppercase;
}
#foot ul {
	list-style: none;
	overflow: auto;
	padding: 7px 0;
	float: left;
}
#foot ul#links {
	width: 480px;
	margin: 0 0 0 400px;
	padding-top: 10px;
}
#foot ul li {
	display: inline;
	list-style: none;
	padding: 0 10px;
	width: auto;
	border-left: 1px solid #666;

}
#foot ul li:first-child {
	border: none;
}
#foot ul li li {
	line-height: 16px;
	list-style: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	width: auto;

}
#foot #social ul {
	text-indent: -999em;
	width: 60px;
}
#foot #social ul li {
	width: auto;
	height: 16px;
	border: none;
	float: left;
	padding: 0 2px;
}
#foot #social ul li a {
	background: url(../../images/social.png) left -16px; no-repeat;
	width: 16px;
	display: block;
	height: 16px;
}
#foot #social ul li a#youtube {
	background-position: 0 -16px;
}
#foot #social ul li #youtube:hover {
	background-position: 0 0;
}
#foot #social ul li a#facebook {
	background-position: 32px -16px;
}
#foot #social ul li #facebook:hover {
	background-position: 32px 0;
}
#foot #social ul li a#twitter {
	background-position: 16px -16px;
}
#foot #social ul li #twitter:hover {
	background-position: 16px 0;
}
#foot ul li a {
	height: 12px;
	text-decoration: none;

}
#foot ul li a:link, #foot ul li a:visited {
	color: #5e5e60;
}
#foot ul li a:hover, #foot ul li a:active {
	color: #000;
}
/* @end */